@{
    ViewData["Title"] = "Home Page";
}
<h1>Enter your Information</h1>

@model YourNamespace.Models.User


<h3>Reg:</h3>
<form asp-controller="Home" asp-action="Register" method="post" class="form-inline">
    
    <label asp-for="FirstName"></label><br>
    <input asp-for="FirstName"class="form-control"/>
    <span asp-validation-for="FirstName"></span>
    <br>
    
    <label asp-for="LastName"></label><br>
    <input asp-for="LastName"class="form-control"/>
    <span asp-validation-for="LastName"></span>
    <br>
    
    <label asp-for="Email"></label><br>
    <input asp-for="Email"class="form-control"/>
    <span asp-validation-for="Email"></span>
    <br>
    
    <label asp-for="Password"></label><br>
    <input asp-for="Password"class="form-control"/>
    <span asp-validation-for="Password"></span>
    <br>
    
    <label asp-for="Cpassword"></label><br>
    <input asp-for="Cpassword"class="form-control"/>
    <span asp-validation-for="Cpassword"></span>
    <br><br>
    <button type="submit"class="btn btn-primary">Create new User</button>
</form>

Log in:
<form asp-controller= "Home" asp-action="Login" method="post" class="form">
    <span asp-validation-for="Email"></span>
    <label asp-for="Email"></label>
    <input asp-for="Email"/><br>
    <span asp-validation-for="Password"></span>
    <label asp-for="Password"></label>
    <input asp-for="Password"/><br>
    <button type="submit" class="btn btn-primary" >Create new User</button>
</form>
